.container-fluid{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

  #page-nav {
    width: 100%;
    background:#add8f6;
    position: sticky;
    top: 0;


    /* If you want the navigation bar to stick on top
    position: sticky;
    top: 0;
    */
  }
  
  /* Hide Hamburger */
  #page-nav label, #hamburger {
    display: none;
  }
  
  /* Menu Items */
  #page-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
  }
  #page-nav ul li {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
  }
  #page-nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  .section{
      background-image: url(./image/web-developer-4-768x427.jpg);
      opacity: 4em;
      color: white;
      padding-bottom: 9em;
      margin-bottom: -2em;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 1em;
  }
  #aboutme{
      margin-left: 2.4em;
      margin-top: 1.5em;
  }
  ul, #myinfo{
      list-style-type: none;
      margin-top: 3em;
  }
  ul li img, #myimage{
      width: 165px;
      height: 165px;
      border-radius: 50%;
      margin-top: 2.7em;
  }
  form{
      background: slateblue;
      margin: 0 auto;
      min-width: 100px;
      max-width: 620px;
      padding: 50px;
      max-height: 650px;
      min-height: 700px;
      display: block;margin-top: 6em;
      
  }
  .heading{
      text-align: center;
      margin-bottom: 2.6em;
  }
  form label{
      display: block;
      color: white;
      margin-top: 0.8em;
      font-size: 0.9em;
  }
  form .key{
      display: block;
      margin-top: 20px;
      background: rgb(19, 19, 138);
      color: white;
      margin-bottom: 3em;
      padding: 0.3em;

  }
  form input{
      width: 100%;
      height: 40px;
      border: none;
  }
  .footer{
      background:  rgb(102, 159, 216);
      margin-top: 2em;
      padding: 3em 0em 3em 0em;
      text-align: center;
  }
  .footer a img{
      width: 40px;
      margin: 2em 0em 1em 2em;   
    
  }
  .footer h5{
      font-size: 0.9em;
      color: grey;
      margin-left: 2em;
  }
  .section h1{
      color: white;
      text-align: center;
      font-size: 3em;
  }
  .section h4 i{
    color: rgb(133, 30, 30);
    
  }
  .section h4{
      text-align: center;
      margin-top: 0.6em;
  }
  @media screen and (max-width:768px){
    #page-nav label{
        display:inline-block ;color: #fff;
        background: #a02620;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;

    }   
    #page-nav ul li{
        display: block;
    }
    #page-nav ul li{
        border-top: 1px solid white;
    }
    #page-nav ul li:hover{
        background: grey;
    }
    #page-nav ul{
        display: none;
    } 
    #page-nav input:checked ~ ul{
        display: block;

    }
}
